@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Text */
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-brand-family: Roboto, var(--font-sans);

    /* Colour */
    --color-brand-blue: var(--color-blue-800);
    --color-brand-black: var(--color-black);
    --color-brand-white: var(--color-white);
}

:root {
    /* Font */
    font-size: var(--text-base);
    font-family: var(--font-brand-family), sans-serif;

    /* Transition */
    transition-property: color, background-color, border-color, text-decoration-color,
        fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-duration: 300ms;
    transition-timing-function: var(--default-transition-timing-function);

    /* Text */
    color: var(--color-brand-white);

}
